{% extends parent_template|default:"base.html" %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'centralizer/style.css' %}" />
{% endblock %}
{% block content %}
<div class="row">
<section class="eight columns">
    {% block original %}
        This is the old
    {% endblock %}
</section>

<section class="desktop four columns">
    {% block create %}
    {% endblock %}
</section>
</div>
{% endblock %}

{% block footer %}
    {% if is_paginated %}
        <div class="row">
        <div class="twelve columns">
        <ul class="pagination">
            {% if previous_page_url %}
                <li>
                <a href="{{ previous_page_url }}">Previous</a>
                </li>
            {% endif %}
        <li>
            Page: {{ page_obj.number }}
            of: {{ paginator.num_pages }}
        </li>
        {% if next_page_url %}
            <li>
            <a href="{{ next_page_url }}">
                Next
            </a>
            </li>
        {% endif %}
        </ul>
        </div>
        </div>
    {% endif %}
{% endblock %}
