{% extends parent_template|default:"centralizer/base_centralizer.html" %}
{% block title %}
{# Overrides parent block #}
{{  block.super }} - List of Companies - {{ tag.tagname|title }}
{% endblock %}
{% block original %}
<h2>Company List</h2>
    <div class="mobile">
    {% block new_button %}
    <a href="{% url 'centralizer_create_company' %}" class="button button-primary">Create a new company</a>
    {% endblock %}
    </div>

   {% if has_pages %}
    <ul>
    {% if previous_page %}
    <li>
    <a href="{{ previous_page }}">Previous</a>
    </li>
{% endif%}

{% if next_page %}
    <li>
    <a href="{{ next_page }}">Next</a>
    </li>
{% endif%}
    </ul>
    {% endif %}
<ul>
<li>
    Page {{ company_list.number }}
    of {{ paginator.num_pages }}
</li>

    {% for comp in company_list %}
    <li>
        <a href="{{ comp.get_absolute_url }}">
            {{ comp.company_name }}
        </a>
        {% empty %}
        <li><em>No companies here</em></li>
    {% endfor %}
</ul>
<ul><li>
<a href="{{company.get_update_url}}">Edit Company</a>
</li>
<li>
<a href="{{company.get_delete_url}}">Delete Tag</a>
</li>
</ul>
{% endblock %}

{% block footer %}
{% endblock %}