{% extends parent_template|default:"centralizer/base_centralizer.html" %}
{% block title %}
{# Overrides parent block #}
{{  block.super }} - List of Companies - {{ tag.tagname|title }}
{% endblock %}
{% block content %}
<h2>Company List</h2>
    <div>
    <a href="{% url 'centralizer_create_company' %}">Create a new company</a>
    </div>
<ul>
    {% for comp in company_list %}
    <li>
        <a href="{{ comp.get_absolute_url }}">
            {{ comp.company_name }}
        </a>
        {% empty %}
        <li><em>No companies here</em></li>
    </li>
    {% endfor %}
</ul>
<ul><li>
<a href="{{company.get_update_url}}">Edit Company</a>
</li>
<li>
<a href="{{company.get_delete_url}}">Delete Tag</a>
</li>
</ul>
{% endblock %}