{% extends parent_template|default:"base.html" %}
{% block title %}
{# Overrides parent block #}
{{  block.super }} - Company Details
{% endblock %}
{% block content %}
<article>
<h2>{{ company.company_name }}</h2>
<dl>
    <dt>Founded</dt>
{# The date bellow is considered a datetime object, being equivalent with {{ company.founded_date|date }}#}
    <dd>{{ company.founded_date }}</dd>
    <dt>Website</dt>
    <dd>{{ company.founded_date|date:"F jS, Y" }}</dd>
    <dt>Website</dt>
    <dd><a href="{{ company.website|urlize }}">{{ company.website }}</a></dd>
    <dt>Email Address</dt>
    <dd>{{ company.email }}</dd>

    <dt>Tag{{ company.tags.count|pluralize }}</dt>
    {% for tag in company.tags.all %}
    <dd><a href="{{ tag.get_absolute_url }}">{{ tag.tagname|title }}</a> </dd>
    {% endfor %}
</dl>

{{ company.description|linebreaks }}
{% if company.relatednews_set.all or company.articles.all or perms.centralizer.add_relatednews %}
{% if company.relatednews_set.all %}
<section>
    <h3>Related News</h3>
    <ul>
        {% for news in company.relatednews_set.all %}
        <li>
            <a href="{{ news.get_absolute_url }}">
                {{ news.tile|title }}
            </a>
        </li>
        <li>
	    <a href="{{ news.get_delete_url }}">
	      Delete News
	    </a>
	</li>
    <li>
        <a href="{{ relatednews.get_update_url }}">
            Edit Related
        </a>
    </li>
        {% endfor %}
</ul>
<p>
    <a href="{{ company.get_relnews_create_url }}" class="button">
        Add News
    </a>
</p>
</section>
{% endif %}

{% if company.related_news.all or perms.blog.view_future_article and company.articles.all or company.articles|length > 0 or perms.centralizer.add_relatednews %}
    <section class="meta offset-by-two one-third column">
    <h3>
        Article{{ company.article.count|pluralize }}
    </h3>
    <ul>
        {% for art in company.articles.all %}
        <li>
            <a href="{{ art.get_absolute_url}}">
                {{ art.title|title }}
            </a>
        </li>
        {% endfor %}
    </ul>
    </section>
    {% else %}
    <section class="meta offset-by-two two-thirds column">
    </section>
{% endif %}
{% endif %}
</article>

<p>
<a href="{{ company.centralizer_create_related }}">Create Related News</a>
</p>
<ul><li>
<a href="{{company.centralizer_update_company}}">Edit Company</a>
</li></ul>
{% endblock %}
