{% extends parent_template|default: "centralizer/base_centralizer.html"%}
{% block title %}
{{ block.super }} - Delete Related News
{% endblock %}
{% block content %}
    <div>
    <div>
        <form action="{{ related.delrel }}" method="post">
            {% csrf_token %}
            <p>
                Really Delete {{ related.title }}?
            </p>
            <a href="{{ related.get_absolute_url }}">Cancel</a>
        <button type="submit">Delete</button>
        </form>
    </div>
    </div>
{% endblock %}