{% extends parent_template|default:"centralizer/base_centralizer.html" %}
{% block title %}
{# Extends parent block #}
{{  block.super }} - List of Tags
{% endblock %}
{# Start the content block defined in base #}
{% block content %}
<h1>One</h1>
<h2>List of Tags</h2>
{% if has_pages %}
    <ul>
    {% if prev_page %}
    <li>
        <a href="{{ prev_page }}">
            Previous Tag
        </a>
    </li>
    {% endif %}
    {% if next_page %}
    <li>
        <a href="{{ next_page }}">
            Next Tag
        </a>
    </li>
    {% endif %}
    </ul>
    {% endif %}

<div>
<a href="{% url 'centralizer_create_tag' %}">Create New Tag</a>
</div>
<ul>
    {% for tag in taglist %}
    <li>
        <a href="{{ tag.get_absolute_url }}">
            {{ tag.tagname|title }}
        </a>
    </li>
        {% empty %}
        <li><em>There are no Tags available</em></li>
    {% endfor %}
</ul>
{# End content block defined in base #}
<ul><li>
<a href="{{tag.get_update_url}}">Edit Tag</a>
</li></ul>
{% endblock %}

{% block footer %}
{% endblock %}