{% extends parent_template|default:"centralizer/base_centralizer.html" %}
{% block title %}
{# Extends parent block #}
{{  block.super }} - List of Tags
{% endblock %}
{# Start the content block defined in base #}
{% block content %}
<h1>One</h1>
<h2>List of Tags</h2>
<ul>
    {% for tag in taglist %}
    <li>
        <a href="{{ tag.get_absolute_url }}">
            {{ tag.tagname|title }}
        </a>
    </li>
        {% empty %}
        <li><em>There are no Tags available</em></li>
    {% endfor %}
</ul>
{# End content block defined in base #}
{% endblock %}
