{% extends parent_template|default:"base.html" %}
{% block title %}
{# Overrides parent block #}
{{  block.super }} - Article List
{% endblock %}
    <div>
    <a href="{% url 'blog_article_create' %}'">Write a new article</a>
    </div>
{% for art in article_list %}
    <article>
    <header>
        <h2>
            <a href="{{ art.get_absolute_url }}">
                {{ art.title|title }}
            </a>
        </h2>
        <p>
    Written on:
        <time datetime="{{ art.added|date:"Y-m-d" }}">
            {{ art.added|date:"l, F j, Y" }}
        </time>
        </p>
    </header>
    <p>{{ art.content|truncatewords:20 }}</p>
    <p>
        <a href="">...</a>
    </p>
    </article>
    {% empty %}
    <p><em>No Articles Available for now</em></p>
{% endfor %}
