{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
            {% block title %}Companies{% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'site/normalize.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'site/skeleton.css' %}"/>
<!--     {#  #} block head %} -->
<!--     {#  #} endblock %} -->
</head>
<body>
{% load flatpages %}
{% get_flatpages as flatpages %}
<div class="container">
    <header class="row">
    <img src="{% static 'site/favicon.png' %}" alt="Favicon">
    <div class="offste-by-one ten columns"
    <h1 class="logo">Company Centralizer</h1>
        <main>
            {% block content %}
            This is the default content
            {% endblock %}
        </main>
    </header>
</div>
</div>
<div>
    <p>
        Some notes at the end
    </p>
</div>

<nav>
    <ul>
        {% for pg in flatpages %}
            <li>
            <a href="{{ pg.get_absolute_url }}">
                {{ pg.title }}
            </a>
            </li>
        {% endfor %}
        <li>
            <a href="{% url 'blog_article_list' %}">
                Articles
            </a>
        </li>
        <li>
            <a href="{% url 'centralizer_company_list' %}">
                Companies
            </a>
        </li>
        <li>
            <a href="{% url 'centralizer_taglist' %}">
                Tags
            </a>
        </li>
        <li>
        <a href="{% url 'contact' %}">Contact Us</a>
        </li>
    </ul>
</nav>

{% if messages %}
<div class="row">
<div class="twelve columns">
<ul class="messages">
{% for mes in messages %}
{% if mes.tags %}
<li class="{{mes.tags}}">
{%else%}
<li>
{%endif%}
{{message}}</li>
{%endfor%}
</ul>
</div>
</div>

{% endif %}

</body>
</html>