<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
            {% block title %}Companies{% endblock %}
    </title>
</head>
<body>
{% load flatpages %}
{% get_flatpages as flatpages %}
<div>
    <header>
        <main>
            {% block content %}
            This is the default content
            {% endblock %}
        </main>
    </header>
</div>
<div>
    <p>
        Some notes at the end
    </p>
</div>

<nav>
    <ul>
        {% for pg in flatpages %}
            <li>
            <a href="{{ pg.get_absolute_url }}">
                {{ pg.title }}
            </a>
            </li>
        {% endfor %}
        <li>
            <a href="{% url 'blog_article_list' %}">
                Articles
            </a>
        </li>
        <li>
            <a href="{% url 'centralizer_company_list' %}">
                Companies
            </a>
        </li>
        <li>
            <a href="{% url 'centralizer_taglist' %}">
                Tags
            </a>
        </li>
        <li>
        <a href="{% url 'contact' %}">Contact Us</a>
        </li>
    </ul>
</nav>

{% if messages %}
<div>
<div>
<ul>
{% for mes in messages %}
{% if mes.tags %}
<li class="{{mes.tags}}">
{%else%}
<li>
{%endif%}
{{message}}</li>
{%endfor%}
</ul>
</div>
</div>

{% endif %}

</body>
</html>