{% extends parent_template|default:'user/base_user.html'%}
{% block title %}
    {{ block.super }} - Create Account
{% endblock %}

{% block content %}
    <div class="row">
    <div class="offset-by-two eight columns">
    <div class="center"><a href="{% url 'dj-auth:resend_activation' %}">If you lost your activation email</a></div>
        <form action="dj-auth:create" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">
                Create user
            </button>
        </form>
    </div>
    </div>
{% endblock %}